/* General styling for the output container */
2		-
#output {
3		-
  display: grid;                  /* Use grid layout */
4		-
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Automatically adjust columns */


5		-
  grid-gap: 15px;                  /* Space between grid items */