/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.special {
  background-color: lightyellow;
  border: solid 3px #fbc4cc;
  color: teal;
  font-size: 1.5rem;
  padding: 20px;
  text-align: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.section-btn {
  background-color: #403eae; 
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.section-btn:hover {
  background-color: #262b7b; 
}